extends backend_layout
block content
    style(type='text/css').
        .datepicker-days {
            display: block !important;
        }
    script(src='/javascript/select2.min.js')
    script(src='/javascript/bootstrap-datepicker.min.js')
    script(src='/javascript/bootstrap-datepicker.zh-CN.min.js')
    script(type='text/javascript').
        $(function () {
            $('.publishTime').datepicker({
                language: 'zh-CN',
                format: 'yyyy/mm/dd',
                autoclose: true,
                todayHighlight: true
            });
            $('.expiryTime').datepicker({
                language: 'zh-CN',
                format: 'yyyy/mm/dd',
                autoclose: true,
                todayHighlight: true
            });

            $('#xzSelect').select2();
            $('#lxSelect').select2();
        });


        // 这是那个bootstrap-datepicker的出问题的注释
        // 就是可以看到我在上面的css里面加了一个东西，datepicker-days的display被我强制设定为了
        // block,你可以把这个样式给删掉(只用把!important删掉)，然后再到页面上看看效果，
        // 具体就是：
        // 点击那两个日期框的时候，会出现一个小的横条
        // 但是没有东西，同时直接看网页的代码变化，会发现下面的多出来了一个div
        // 这个就是那个日期选择的东西，但是没有出来
        // 点开div发现里面有很多个小的div，问题就出在那个datepicker-days的div
        // 它的style属性是空的，正确的应该是block,（这个是看那个Vali Admin(我们的网站模版)发现的）
        // 所以我就在css里面添加了这么一项，但是这个方法也有问题，我加了!important,那么它的内联样式的优先级是没有这个高的
        // 所以会导致选择日期或者年的时候，会在下方多一个选择界面出来。然后就是你的任务啦，找到如何解决这个问题，尽可能地不要用我的这种添加css方法，可能会出一些奇怪的错误
        //
        function checkDisplay(dom) {
            //setTimeout(function () {
            //    $('.datepicker-days').css({display:'none'});
            //},0);
        }
    .page-title
        div
            // <h1><i class="fa fa-dashboard"></i> 首页</h1>
            h1 工作管理
            // <p>A free and modular admin template</p>
        div
            ul.breadcrumb
                li
                    i.fa.fa-home.fa-lg
                li
                    a(href='/back_end') 首页
                li
                    a(href='/back_end/jobs') 工作管理
    .panel.panel-default()
        form.form-horizontal
            .panel-body
                .row.pd-bottom-2
                    .col-md-4
                        .form-group
                            label.col-md-4.control-label 在招公司
                            .col-md-8
                                input.form-control()
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4 职位名称
                            .col-md-8
                                input.form-control()
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4 工作类型
                            .col-md-8
                                select#lxSelect.form-control()
                                    optgroup(label='选择工作类型')
                                        option(value='') 全部
                                        option(value='0') 研发
                                        option(value='1') 教育
                                        option(value='2') 市场营销
                                        option(value='3') 产品经理
                                        option(value='4') 客户经理
                                        option(value='5') 业务发展(BD)
                                        option(value='6') 售前服务
                                        option(value='7') 通信
                                        option(value='8') 售后服务
                                        option(value='9') 设计
                .row.pd-bottom-2
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4 发布时间
                            .col-md-8.publishtime
                                input.publishTime.form-control(type='text' placeholder='选择发布时间' readonly onclick="checkDisplay(this)")
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4 截止时间
                            .col-md-8.expirytime
                                input.expiryTime.form-control(type='text' placeholder='选择截止时间' readonly onclick="checkDisplay()")
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4.word-spacing-25 工作性质
                            .col-md-8
                                select#xzSelect.form-control
                                    optgroup(label='选择工作性质')
                                        option(value='') 全部
                                        option(value='0') 志愿
                                        option(value='1') 全职
                                        option(value='2') 兼职
                                        option(value='3') 合同
                        .pull-right
                            button.btn.btn-primary(onclick='searchUser()') 搜索

    .panel.panel-default
        .panel-heading
            strong() 职位列表
            button.btn.btn-xs.btn-primary.pull-right()
                i.fa.fa-plus
                | 新增
        .panel-body.table-responsive
            table.table.table-striped.add-table-border
                thead
                    tr
                          th.text-center 招聘序号
                        th.text-center 在招公司
                        th.text-center 职位名称
                        th.text-center 工作类型
                        th.text-center 工作性质
                        th.text-center 发布时间
                        th.text-center 工作标签
                        th.text-center 操作
                tbody
                    tr()
                        td.text-center 1
                        td.text-center 2
                        td.text-center 3
                        td.text-center 4
                        td.text-center 5
                        td.text-center 6
                        td.text-center 7
                        td.text-center
                            button.btn.btn-xs.btn-info()
                                i.fa.fa-edit
                                |  编辑
                            button.btn.btn-xs.btn-danger()
                                i.fa.fa-remove
                                | 删除