extends backend_layout
block content
    script(src='/javascript/select2.min.js')
    script(type='text/javascript').
        $(function () {
            $('#xzSelect').select2();
            $('#lxSelect').select2();
        });
    .page-title
        div
            // <h1><i class="fa fa-dashboard"></i> 首页</h1>
            h1 工作管理
            // <p>A free and modular admin template</p>
        div
            ul.breadcrumb
                li
                    i.fa.fa-home.fa-lg
                li
                    a(href='/back_end') 首页
                li
                    a(href='/back_end/jobs') 工作管理
    .panel.panel-default()
        form.form-horizontal
            .panel-body
                .row.pd-bottom-2
                    .col-md-4
                        .form-group
                            label.col-md-4.control-label 在招公司
                            .col-md-8
                                input.form-control()
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4 职位名称
                            .col-md-8
                                input.form-control()
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4 工作类型
                            .col-md-8
                                select#lxSelect.form-control()
                                    optgroup(label='选择工作类型')
                                        option(value='') 全部
                                        option(value='0') 研发
                                        option(value='1') 教育
                                        option(value='2') 市场营销
                                        option(value='3') 产品经理
                                        option(value='4') 客户经理
                                        option(value='5') 业务发展(BD)
                                        option(value='6') 售前服务
                                        option(value='7') 通信
                                        option(value='8') 售后服务
                                        option(value='9') 设计
                .row.pd-bottom-2
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4 发布时间
                            .col-md-8
                                input.form-control
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4 截止时间
                            .col-md-8
                                input.form-control
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4.word-spacing-25 工作性质
                            .col-md-8
                                select#xzSelect.form-control
                                    optgroup(label='选择工作性质')
                                        option(value='') 全部
                                        option(value='0') 志愿
                                        option(value='1') 全职
                                        option(value='2') 兼职
                                        option(value='3') 合同
                        .pull-right
                            button.btn.btn-primary(onclick='searchUser()') 搜索

    .panel.panel-default
        .panel-heading
            strong() 职位列表
            button.btn.btn-xs.btn-primary.pull-right()
                i.fa.fa-plus
                | 新增
        .panel-body.table-responsive
            table.table.table-striped.add-table-border
                thead
                    tr
                        th.text-center 招聘序号
                        th.text-center 在招公司
                        th.text-center 职位名称
                        th.text-center 工作类型
                        th.text-center 工作性质
                        th.text-center 发布时间
                        th.text-center 工作标签
                        th.text-center 操作
                tbody
                    tr()
                        td.text-center 1
                        td.text-center 2
                        td.text-center 3
                        td.text-center 4
                        td.text-center 5
                        td.text-center 6
                        td.text-center 7
                        td.text-center
                            button.btn.btn-xs.btn-info()
                                i.fa.fa-edit
                                |  编辑
                            button.btn.btn-xs.btn-danger()
                                i.fa.fa-remove
                                | 删除
