extends backend_layout
block content
    .page-title
        div
            // <h1><i class="fa fa-dashboard"></i> 首页</h1>
            h1 工作管理
            // <p>A free and modular admin template</p>
        div
            ul.breadcrumb
                li
                    i.fa.fa-home.fa-lg
                li
                    a(href='/back_end') 首页
                li
                    a(href='/back_end/jobs') 工作管理
    .panel.panel-default()
        form.form-horizontal
            .panel-body
                .row.pd-bottom-2
                    .col-md-4
                        .form-group
                            label.col-md-4.control-label 在招公司
                            .col-md-8
                                input.form-control()
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4 职位名称
                            .col-md-8
                                input.form-control()
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4 工作类型
                            .col-md-8
                                select.form-control()
                                    option(value='') 全部
                                    option(value='0') 应届
                                    option(value='1') 1~2年
                                    option(value='2') 3~5年
                                    option(value='3') 6~9年
                                    option(value='4') 10年及以上
                .row.pd-bottom-2
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4 发布时间
                            .col-md-8
                                input.form-control(size='20', bs-datepicker='', autoclose='true', data-date-format='yyyy-MM-dd', data-date-type='number', ng-model='vm.searchParams.startAt')
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4.text-center —
                            .col-md-8
                                input.form-control(size='20', bs-datepicker='', autoclose='true', data-date-format='yyyy-MM-dd', data-date-type='number', ng-model='vm.searchParams.endAt', data-min-date='{{vm.searchParams.startAt}}', data-max-date='today')
                    .col-md-4
                        .form-group
                            label.control-label.col-md-4.word-spacing-25 工作性质
                            .col-md-8
                                select.form-control()
                                    option(value='') 全部
                                    option(value='0') 8k以下
                                    option(value='1') 8k~15k
                                    option(value='2') 16k~25k
                                    option(value='3') 25k以上
                        .pull-right
                            button.btn.btn-primary(onclick='searchUser()') 搜索

    .panel.panel-default
        .panel-heading
            strong() 职位列表
            button.btn.btn-xs.btn-primary.pull-right()
                i.fa.fa-plus
                | 新增
        .panel-body.table-responsive
            table.table.table-striped.add-table-border
                thead
                    tr
                        th.text-center 招聘序号
                        th.text-center 在招公司
                        th.text-center 职位名称
                        th.text-center 工作类型
                        th.text-center 工作性质
                        th.text-center 发布时间
                        th.text-center 工作标签
                        th.text-center 操作
                tbody
                    tr()
                        td.text-center 1
                        td.text-center 2
                        td.text-center 3
                        td.text-center 4
                        td.text-center 5
                        td.text-center 6
                        td.text-center 7
                        td.text-center
                            button.btn.btn-xs.btn-info()
                                i.fa.fa-edit
                                |  编辑
                            button.btn.btn-xs.btn-danger()
                                i.fa.fa-remove
                                | 删除
