extends backend_layout
block content
    script(type='text/javascript').
        function user_on() {
            $('.user_block').removeClass('coloured-icon');
        }

        function user_off() {
            $('.user_block').addClass('coloured-icon');
        }

        function job_on() {
            $('.job_block').removeClass('coloured-icon');
        }

        function job_off() {
            $('.job_block').addClass('coloured-icon');
        }
    .page-title
        div
            // <h1><i class="fa fa-dashboard"></i> 首页</h1>
            h1 首页
            // <p>A free and modular admin template</p>
        div
            ul.breadcrumb
                li
                    i.fa.fa-home.fa-lg
                li
                    a(href='') 首页
    .row
        .col-md-6
            .widget-small.primary.user_block.coloured-icon(onclick="location.href='/back_end/users'", onmouseover="javascript:user_on()", onmouseout="javascript:user_off()")
                i.icon.fa.fa-users.fa-3x
                .info
                    h4 用户
                    p
                        b.user_number #{user_list.length-1}
        .col-md-3(style="display:none")
            .widget-small.info.colored-icon
                i.icon.fa.fa-thumbs-o-up.fa-3x
                .info
                    h4 Likes
                    p
                        b 25
        .col-md-6
            .widget-small.warning.job_block.coloured-icon(onclick="location.href='/back_end/jobs'", onmouseover="javascript:job_on()", onmouseout="javascript:job_off()")
                i.icon.fa.fa-files-o.fa-3x
                .info
                    h4 工作
                    p
                        b.job_number #{job_list.length}
        .col-md-3(style="display:none")
            .widget-small.danger.colored-icon
                i.icon.fa.fa-star.fa-3x
                .info
                    h4 Stars
                    p
                        b 500
    .row
        .col-md-6
            .card
                h3.card-title Getting Started
                p
                    | Vali is a free and responsive dashboard theme built with Bootstrap, Pug.js (templating) and SASS. It&apos;s fully customizable and modular. You don&apos;t need to add the code, you will not use.
                p
                    | The issue with the most admin themes out there is that if you will see their source code there are a hell lot of external CSS and javascript files in there. And if you try to remove a CSS or Javascript file some things stops working.
                p
                    | That&apos;s why I made Vali. Which is a light weight yet expendable and good looking theme. The theme has all the features required in a dashboard theme but this features are built like plug and play module. Take a look at the
                    a(href='http://pratikborsadiya.in/blog/vali-admin', target='_blank') documentation
                    |  about customizing the theme.
                p.mt-40.mb-20
                    a.btn.btn-primary.icon-btn.mr-10(href='http://pratikborsadiya.in/blog/vali-admin', target='_blank')
                        i.fa.fa-file
                        | Docs
                    a.btn.btn-info.icon-btn.mr-10(href='https://github.com/pratikborsadiya/vali-admin', target='_blank')
                        i.fa.fa-github
                        | GitHub
                    a.btn.btn-success.icon-btn(href='https://github.com/pratikborsadiya/vali-admin/archive/master.zip', target='_blank')
                        i.fa.fa-download
                        | Download
        .col-md-6
            .card
                h3.card-title Compatibility with frameworks
                p
                    | This theme is not built for a specific framework or technology like Angular or React etc. But due to it&apos;s modular nature it&apos;s very easy to incorporate it into any front-end or back-end framework like Angular, React or Laravel.
                p
                    | Go to
                    a(href='http://pratikborsadiya.in/blog/vali-admin', target='_blank') documentation
                    |  for more details about integrating this theme with various frameworks.
                p
                    | The source code is available on GitHub. If anything is missing or weird please report it as an issue on
                    a(href='https://github.com/pratikborsadiya/vali-admin', target='_blank') GitHub
                    | . If you want to contribute to this theme pull requests are always welcome.
