extends layout

block content
    // 工作职位栏
    .container.bod
        dl
            dt.title 工作职位
            dd
                a.text-success.col-md-2(name='all', href='/') 所有职业
                a.text-success.col-md-2(name='Development', href='/?position=研发') 研发
                a.text-success.col-md-2(name='Education', href='/?position=教育') 教育
                a.text-success.col-md-2(name='Marketing', href='/?position=市场营销') 市场营销
                a.text-success.col-md-2(name='ProductManagement', href='/?position=产品经理') 产品经理
                a.text-success.col-md-2(name='AccountManagement', href='/?position=客户经理') 客户经理
                a.text-success.col-md-2(name='BusinessDevelopment', href='/?position=业务发展') 业务发展（BD）
                a.text-success.col-md-2(name='Client', href='/?position=售前服务') 售前服务
                a.text-success.col-md-2(name='Communication', href='/?position=通信') 通信
                a.text-success.col-md-2(name='CustomerService', href='/?position=售后服务') 售后服务
                a.text-success.col-md-2(name='Design', href='/?position=设计') 设计
    // 工作性质栏
    .container.bod
        dl
            dt.title 工作性质
            dd
                a.text-success.col-md-2(name='Volunteer', href='/?nature=志愿') 志愿
                a.text-success.col-md-2(name='Permanent', href='/?nature=全职') 全职
                a.text-success.col-md-2(name='Freelance', href='/?nature=兼职') 兼职
                a.text-success.col-md-2(name='Contract', href='/?nature=合同') 合同
    // 招聘信息
    .container
        table.table.table-hover
            // 表头
            tr(style='background-color:#dddddd;')
                th.col-md-3.title 工作职位
                th.col-md-3.title 工作城市
                th.col-md-3.title 工作性质
                th.col-md-3.title 公司名称
            //内容
            for job in job_list
                tr(onclick="window.document.location='/job_info?id="+job.dataValues.jid+'\'')
                    td.col-md-3(style='padding-top: 15px; padding-bottom: 15px;') #{job.dataValues.position}
                    td.col-md-3(style='padding-top: 15px; padding-bottom: 15px;') #{job.dataValues.workplace}
                    td.col-md-3(style='padding-top: 15px; padding-bottom: 15px;') #{job.dataValues.nature}
                    td.col-md-3(style='padding-top: 15px; padding-bottom: 15px;') #{job.dataValues.company}
    // 版权
