<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<script   src="https://code.jquery.com/jquery-3.2.1.js"   integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="   crossorigin="anonymous"></script>		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">		
		<link rel="stylesheet" href="../public/stylesheets/index.css">
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<title>CODING GIRLS CLUB</title>

		<body>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#"><img src="..\public\img\CGC02-c4bbb83e7831724c5d32623da38bd5c070155728b087e8985ef7cd1e1f394344.png"></a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="active" style="margin-right: 5px;">
								<a href="#">所有职位 </a>
							</li>
							<li>
								<a href="#">发布职位</a>
							</li>
						</ul>
						<form class="navbar-form navbar-left">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="请输入您希望查询的关键词" id="navbar-search">
							</div>
							<span style="width: 5px;display: inline-block;"></span>
							<button type="submit" class="btn btn-default">查询</button>
						</form>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="#">登录 / 注册</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div id="content"></div>
			<div id="footer">
				版权所有 © ThoughtWorks第一期线上训练营搞事小分队 2017。 保留一切权利。
			</div>
		</body>

</html>