extends layout

block content
    script(type='text/javascript').
        function test() {
            localStorage.test = 1;
        }
    h1= title
    p Welcome to #{title}
    button(onclick='test()')
