extends layout

block content
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    div(style='margin:30px')
        h1#JobTitle 在这里显示工作职位
            h3#JobCompany 在这里显示招聘企业
            .post-description
                p
                    strong 申请截止日期:
                p#JobDeadline
                    | 在这里显示工作类型
                p
                    strong 工作类型:
                p#JobCategory
                    | 在这里显示工作类型
                p
                    strong 工作性质:
                p#JobType
                    | 在这里显示工作性质
                p
                    strong 工作地:
                p#JobAddress
                    | 在这里显示工作地
                p
                    strong 工作描述:
                p#JobDescription
                    | 在这里添加职位描述在这里添加职位描述在这里添加职位描述在这里添加职位描述在这里添加职位描述在这里添加职位描述在这里添加职位描述在这里添加职位描述在这里添加职位描述在这里添加职位描述在这里添加职位描述在这里添加职位描述在这里添加职位描述在这里添加职位描述在这里添加职位描述在这里添加职位描述在这里添加职位描述
            .well
                h3 申请方式:
                .post-description#JobApply
                    p
                        | 在这里添加申请方式
                        | 在这里添加申请方式描述
                    ul
                        li 在这里添加申请要求1
                        li 在这里添加申请要求2