<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="../public/stylesheets/index.css">
	<link rel="stylesheet" href="../public/stylesheets/personalInfo.css">
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	 crossorigin="anonymous"></script>
	<title>CODING GIRLS CLUB</title>

	<body>
		<div id="content">
			<div class="container">
				<div class="row">
					<!-- 左侧：个人信息及修改 -->
					<div id="my-infomation" class="col-md-5">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title text-center"><span class="glyphicon glyphicon-user"></span><span class="split"></span>用户信息</h2>
							</div>
							<div class="panel-body">
								<ul class="list-group">
									<li class="list-group-item">
										<span class="glyphicon glyphicon-envelope"></span>
										<span class="split"></span>邮箱
									</li>
									<li class="list-group-item">
										<span class="glyphicon glyphicon-lock"></span>
										<span class="split"></span>密码
									</li>
									<li class="list-group-item">
										<span class="glyphicon glyphicon-info-sign"></span>
										<span class="split"></span>公司名称
									</li>
									<li class="list-group-item">
										<span class="glyphicon glyphicon-map-marker"></span>
										<span class="split"></span>公司地址
									</li>
									<li class="list-group-item"><span class="glyphicon glyphicon-tag"></span>
										<span class="split"></span>公司所属行业
									</li>
									<!-- 点击更改按钮后会多出“密码确认”、“现在的密码”两项 -->
								</ul>
								<div style="height: 50px"></div>
								<div class="btn btn-default text-center" style="margin-bottom: 15px">修改信息</div><br />
								<div class="btn btn-default text-center">注销账户</div>
							</div>
						</div>
					</div>


					<!-- 右侧：已发布工作 -->
					<div id="my-posts" class="col-md-6 col-md-offset-1">
						<div id="my-posts-banner" class="page-header">
							<h2><span class="glyphicon glyphicon-list"></span><span class="split"></span>已发布工作</h2>
						</div>
						<div id="my-posts-content">

							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">工作A</h3>
									<div class="condition">成功发布</div>
								</div>
								<div class="panel-body">
									工作职位A
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">工作B</h3>
									<div class="condition">成功发布</div>
								</div>
								<div class="panel-body">
									工作职位B
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">工作C</h3>
									<div class="condition">未发布</div>
								</div>
								<div class="panel-body">
									工作职位C
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">工作D</h3>
									<div class="condition">未发布</div>
								</div>
								<div class="panel-body">
									工作职位D
								</div>
							</div>

						</div>

						<!-- 翻页组件 -->
						<nav aria-label="Page navigation" class="text-center">
							<ul class="pagination">
								<li>
									<a href="#" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li>
									<a href="#" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
	</body>

</html>