extends layout

block content
    link(rel='stylesheet',href='/stylesheets/signin.css')
    script(src='/JavaScript/signin.js')
    script(type='text/javascript').
        function form_submit() {
            let form = document.login_form;
            let password = form.password;
            let email = form.email;
            if (!email.value) {
                alert('邮箱不能为空!');
                return;
            }
            if (email.value!=='admin'&&!chk_email(email.value)) {
                alert('邮箱格式错误!');
                return;
            }
            if (!password.value) {
                alert('密码不能为空!');
                return;
            }
            if (email.value!=='admin'&&!chk_password(password.value)) {
                alert('密码不符合格式!');
                return;
            }
            $.post('/signin/check',$(form).serialize(),function (result) {
                if(result==='账号或密码错误!'){
                    alert('账号或密码错误');
                }else{
                    sessionStorage.login=true;
                    sessionStorage.useremail=email.value;
                    window.location.href='/';
                }
            });
        }
    .signin_form
        form#login_form(action='/signin/check', method='post' name='login_form')
            .form-group
                h1.denglu 登陆
            .form-group
                label(for='inputEmail1') 邮箱
                input#inputEmail1.form-control(type='email', placeholder='Email',name='email')
            .form-group
                label(for='inputPassword1') 密码
                input#inputPassword1.form-control(type='password', placeholder='Password',name='password')
            .form-group
                .checkbox
                    label
                        input(type='checkbox' style='width:70px')
                        |  记住我

                    a.forgetcode(href='/forget_password') 忘记密码？
            .form-group
                .col-sm-offset-2.col-sm-10.bottomb
                    button.btn.btn-primary.btn-lg(type='button',onclick='form_submit()') 登陆
                    a.btn.btn-default.btn-lg(href='/signup', role='button') 注册
    .right
        .right-head
            h3 欢迎加入码妞俱乐部招聘平台
            p 该平台是专门为该项公益活动的参与者架构的一个招聘平台。
