.line{
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    border-radius: 5px;
    margin:15px;
}
select,#postJobCity{
    height: 34px;
    padding: 6px 12px;
    border-radius: 5px;
    margin:15px;
    width:150px;
}
p{
    font-size: 20px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
#postJobDescription {
    height: 400px;
}
small{
    margin: 5px;
    padding: 6px 12px;
    font-size: 15px;
}
#postJobApply{
    height: 200px;
}
#datetimepickerInput,#datetimepickerI,#datetimepickerSpan{
    height: 30px;
    padding: 6px 5px;
    border-radius: 5px;
}
.input-group.date.datepicker{
    padding-bottom: 10px;
    margin:15px;
    width:260px;
}
#createIfo{
    border-radius: 4px;
    color: #35B935;
    margin: 15px;
    font-size: 24px;
}
.need{
    color: #ff2217;
}
.chooseFrame{
    margin: 15px;
    font-size: 15px;
}
.radio{
    float: left;
    margin: 15px;
}
.postAll.container{
    margin-left: 100px;
    width: 40%;
    /*float:left;*/
    border-right: 1px dashed gray;
}
aside{
    float: right;
    margin-right: 250px;
}


